<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block page_title %}MyAcademy{% endblock  %}</title>
  {%block css_files %}{% endblock %}

</head>
<body>

  <header class="top-bar">
    <a class="logo" href="/">www.myacademy.gr</a>
    <nav class="nav-links">
      <a href="/">Αρχική</a>

      <div class="dropdown">
        <a href="/courses/">Μαθήματα</a>
        <div class="dropdown-content">
          <a href="#">Design</a>
          <a href="#">Lifestyle</a>
          <a href="#">Marketing</a>
          <a href="#">Επιχειρήσεις</a>
          <a href="#">Λογιστικά και Οικονομικά</a>
          <a href="#">Εργασίες Γραφείου</a>
          <a href="#">Μουσική</a>
          <a href="#">Πληροφορική</a>
          <a href="#">Προσωπική Εξέλιξη</a>
          <a href="#">Υγεία και Άσκηση</a>
          <a href="#">Φωτογραφία και Βίντεο</a>
        </div>
      </div>

      <a href="/users/register-teacher/">Εγγραφή εκπαιδευτών</a>
      <a href="/users/control-panel/">Πίνακας Ελέγχου</a>
      <a href="/users/login/">Σύνδεση</a>
    </nav>
  </header>
    {% block content %}{% endblock  %}

</body>
</html>
